<!DOCTYPE html>
<html>
    <head>
        <title>dead@34.86.47.50</title>
        <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <script>var typerfile="./txt/deadtheamazing.html";</script>
        <script type="text/javascript" src="../js/main.js">
        </script> 
        <div id="console"></div> 
    </body>
    <script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
</script>
</html>
